* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: rgb(255, 0, 0);
  color: #fff;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99) ;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: "Lobster", cursive;
  font-weight: 400;
}

h1 {
  position: absolute;
  top: 0;
  left: 10px;
  color: #fff;
}

.wrapper {
  width: 400px;
  height: 500px;
  padding: 1rem;
  position: relative;
  border-top: 1px solid #ffffff80;
  border-left: 1px solid #ffffff80;
  box-shadow: 20px 20px 50px #00000080, 1px 1px 10px #000;
  border-radius: 3px;
  background: #ffffff2c;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  height: 30%;
  position: relative;
}

.wrapper > div > h2 {
  color: rgba(255, 255, 255, 0.752);
  font-size: 30px;
  letter-spacing: 5px;
  align-self: center;
}

.wrapper > div > input[type="text"] {
  width: 90%;
  height: 40px;
  border: none;
  padding: 0.5rem;
  border-radius: 3px;
  background-color: transparent;
  border-bottom: 3px solid rgba(255, 255, 255, 0.47);
  outline: none;
  color: #fff;
}
.wrapper > div > input[type="text"].error {
  border-bottom: 3px solid rgba(196, 67, 67, 0.47);
  animation: inpShake 0.2s linear;
}
@keyframes inpShake {
  50% {
    transform: translateX(1px) translateY(1px);
  }
  100% {
    transform: translateX(-1px) translateY(-1px);
  }
}

.wrapper > div > input[type="text"]::placeholder {
  color: #fff;
}

#plus {
  position: absolute;
  right: 3px;
  top: calc(50% + 15px);
  font-size: 25px;
  cursor: pointer;
  margin-right: 0.3rem;
  color: rgb(1, 107, 43);
  background-color: transparent;
  border: none;
}

.wrapper > ul {
  overflow-y: auto;
  height: 70%;
  margin-bottom: .5rem;
}

.wrapper > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  border-radius: 3px;
  background-color: rgba(207, 207, 207, 0.658);
  height: 65px;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.wrapper > ul > li > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper > ul > li > div > .delete,
.wrapper > ul > li > div > .edit {
  font-size: 23px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
  order: 1;
}
.wrapper > ul > li > div > .delete {
  color: rgb(192, 0, 0);
}

.wrapper > ul > li:hover > div > .delete,
.wrapper > ul > li:hover > div > .edit {
  visibility: visible;
  opacity: 1;
}

.wrapper > ul > li > div > .edit {
  margin-right: 0.4rem;
  order: 0;
}

.wrapper > ul > li > div:nth-of-type(1) > input[type="checkbox"] {
  width: 15px;
  height: 15px;
  transition: 0.3s;
  cursor: pointer;
}
.wrapper > ul > li > div:nth-of-type(1) > strong {
  text-overflow: ellipsis;
  margin-left: .3rem;
}

.wrapper > button{
  display: block;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.421);
  align-self: center;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: .5rem;
  transition: .3s;
}

.wrapper > button:hover{
  color: #fff;
}
